 تصحيح مسار ذراع روبوتية طبية باالعتماد على المصحح
التناسبي التكاملي التفاضلي PID وتحديد موضع
نهايتها المؤثرة)نمذجة وتنفيذ
,طالبة الماجستير :الميندسة فاطمو عمي حبقو قسم األتمتة الصناعية– كمية
اليندسة التقنية– طوسجامعة طر.
الدكتور محسن خطيبأستاذ مساعد – قسم األتمتة الصناعية– كمية اليندسة التقنية.
.سة في جامعة األندلس لمعموم الطبيةا محمد مدرة يارالدكتور
الممخص
اع روبوتيةاف مسار ذرح مشكمة تصحيح انحرتم في ىذا البحث طر تسمسمية ذات بعأر
عكات مفاصل من نوية ومحرجات حردرservo dc لموصول إلى موضع محددب خطأ
قميلباالعتماد عمى المصحح التناسبي التكاممي التفاضمي, وذلك لم تطبيق الطبي حقن
اإلبر في عضمة الكتف , فقدتم تصدير نموذج اع الروبوتيةالذر المصمم في
نامجبرsolid work إلىنامجبر MATLAB الو حصول عمى مخطط صندوقي قابل
لمتعديل , و اويةضافة حساسات الز
اومشغالت المفصل )فوكات السير(محر والمصححPID
منيةالحصول عمى االستجابة الزولممفاصل قبل وبعد التصحيح, حيثضبطت ثوابت
ًيبياالمصحح تجر باستخدام نموذج يحاكيفوك السيرمحر اياالمستخدم وتحديد قيم الزو
المدخمة بكيةاسة حراء درإجر اع الروبوتيةلمذر ونمذجتيا فيMATLAB , من ناحية
اع المدروسة والتحكم بيا باستخدامى تم تصميم نموذج عممي لمذرأخرArduino
Mega2560 و في بيئةًمجيابناء المصحح برArduino ID و
ًاأخير
نة النتائجتم مقار
العممية مع نتائج المحاكاة والتأكد من كفاءة المصحح في تصحيحالمسار و الوصول إلى
ال موضعالمحدد بخطأ قميل.
:كممات مفتاحية اعية, ذرجات حربع درالمصحح التناسبي التكاممي التفاضمي, أر
, فوك سيرروبوتية طبية, محرArduino Mega 2560.


تصحيح مساز ذزاع زوبىتيت طبيت باالعتماد على المصحح التناسبي التكاملي التفاضليPID وتحديد
مىضع نهايتها المؤثسة)نمرجت وتنفير)
Correcting the path of a robotic medical arm using the
differential integral proportional corrector PID And
determining its end effector
(Modeling and implementation)
Abstract
In this research, the problem Was put forward correcting of a
four-degree robotic arm and joint's motor is servo dc, Access a
specific position with a small error depending on the
differential integral proportional corrector, So for the medical
application inject the needles into the shoulder muscle.
The robotic arm model designed in solid work has been
exported to the MATLAB program and obtained an adjustable
box layout and adding angular sensors and joint actuators
(motors) and Corrected the PID and obtained the time response
of the joints before and after the correction.
The corrector's constants were experimentally tuned using a
model that simulates the servo motor used and the values of the
input angles were determined by a dynamic study of the robot
arm and modeled in MATLAB, On the other hand, a practical
model of the studied arm was designed and controlled using
Arduino-Mega 2560 and the corrector was built in the Arduino
ID environment.
Finally, the results were compared with the simulation results
and sure the corrector's efficiency in correcting the path and
reaching the specified position with a small error.
Key words: Differential integrator corrector, four degrees
freedom, robotic medical arm, servo motor, Arduino Mega
2560.


.1 المقدمةintroduction:
تطمق كممة روبوت عمى اآلالت الميكانيكية ًمجة سمفاة عمى القيام بأعمال مبرالقادر
وخاصة عندما يحاكي سموك اإلنسان, وقد جعل التطورً ذكياًوالتي تظير سموكا
ء من عدة مجاالت بما في ذلكوالتقدم التكنموجي الكبير من ىذه الروبوتات جز
اءت لتصبح قادر عمى إجرالمجال الطبي, وتطور احيةالعمميات الجر والتي تحتاج
إلى ,ة طبية عاليةدقة وخبر ع الروبوتية التي فيت األذرى ظيرمن ناحية أخر
ة في الوسط الطبي لتحتل مكانة ميمةفيا إبرطر ع في, حيث تم استخدام ىذه األذر
ع بالدم لسحباكز التبرعمميات حقن اإلبر الجمدية ذات النسيج الصمب وفي مر
ع الروبوتية السونقل الدم ولكن تحتاج جميع األذر ابقة إلى دقة في تحديد المسار
وخطأ .موضع شبو معدوم
فالروبوتات الطبية ىي روبوتات ذات حمقة تحكم مغمقة تعتمد عمى الحساسات
اعمجة ذراسة ومحاكاة وبرومصححات المسار, لذلك سيتم في ىذا البحث بناء ودر
روبوتية ية, وذلك لتحديد الموضعجات حربع درع التسمسمي ذات أرمن النو
ًالمطموب لحقن اإلبر في عضمة الكتف عمماأن يةجات حرثالثة در تعد كافية
بوتاع الرلوضع نياية ذر في أية نقطة ضمن فضاء العمل الثالثي األبعاد , ولكن
كات أكثراء حربوت من إجرى ستمكن الرإضافة مفاصل أخر مرونة وتعقي
ًدا
من
ية فقجات حرثالثة در.ط
تصحيح مساز ذزاع زوبىتيت طبيت باالعتماد على المصحح التناسبي التكاملي التفاضليPID وتحديد
مىضع نهايتها المؤثسة)نمرجت وتنفير)
.2 ىد ف:البحث
ييدف البحث إلى ةتصحيح مسار الروبوت الطبي, المستخدم لحقن اإلبر في عضمة
الكتف وذلك لموصول إلى موضع محدد , من خالل االستفادة من المصححPID
فوكات السيرلتقميل اآلثار الالخطية لمحر.
.3 مواد وطرق البحث:
: احل العمل في ىذا البحث كانت كما يميإن مر
-1 حمة األولىالمر: كا ة عن بحث مكتبي ونت عبار اسة ودر اجع فيجمو لممرتر
المواضيع المختصة عاجع األذربالمصححات التناسبية التكاممية التفاضمية, ومر
كتيا والروبوتية وتحميل حركذلك المر جع المختصةكاتبمحر Servo-DC اجعةومر
األبحاث المختصة لمنمذجة في بيئةMatlab- Simulink.
-2 :حمة الثانيةالمر اع الروبوتية اتم تصميم الذرلطبية باستخدامنامجبر
solid work ومن ثم نامجه إلى برتصديرMatlab لنحصل عهى مخطط صىذوقي
و ومىرج3D.
3- :حمة الثالثةالمر اع الروبوتية باستخدامكية لمذراسة حراء درإجريقةطر D-H)
Denavit-Harbenterg وىي كةق األكثر شيوعا في تحميل الحرمن الطر
والمستخدمة في تطبيقات الروبوت و اء نمذجة ليا في بيئةجر
اMatlab .
-4 حمةالمرابعةالر: اسةفو قيد الدرك السيراء محاكاة لمحرإجر بيئتMatlab ضافة
وا
مصححالـPID.
-5 حمة الخامسةالمر : بناء النموذج العممي والتحكم بو باستخدامArduino Mega
مجية في بيئةحيث تمت كتابة األكواد البرArduino ID.

.5 لمحة:نظرية
1.5 اع الروبوتيةتحميل الحركة لمذرالطبية )جات حرية(أربع در باستخدام
طريقةD-H :
نيدف من تمثيلD-H اع الروبوتيو وذلكياضي الممثل لمذرإلى إيجاد النموذج الر
نة بالقاعدة, فعمينا تعيين الجمل اإلحداثيةة مقاراتجاه النياية المؤثرلتحديد موضع و
نكم مه قاعدة واع الروبوتيو باإلضافة إلى جميع المفاصل, إنياية الذرذ تتكون
ع اآللية من وصالت ومفاصل بحيث تؤدي كلاألذر كة انسحابيو أووصمة حر
ع المفصل وتتشكلانية تبعا لنودوربين محاور ىذه الوصالت زوايا أولر.
2.1.5اسة الحركة األماميةدر:
اتاع ومتغيرة لمذركة األمامية لمروبوت موضع واتجاه النياية المؤثراسة الحرتحدد در
ية واحدة وأن موضع كل مفصلجة حرالمفاصل باعتبار أن كل مفصل يمثل در
انيةاويتو الدوريحدد بز . نمثل قاعدة الروبوت بالجممة اإلحداثية
.
الشكل1-5)) الجمل اإلحدا.اع الروبوتيوثية لمذر 


